<%= stylesheet_link_tag 'session', media: 'all' %>
<div class="header-simple"><a href="" class="logo">MMall</a></div>
<div class="user-wrap">
	<div class="user-con w">
		<div class="user-title">用户登录</div>
		<div class="user-box">
			<% if flash[:notice].present? %>
				<div class="err-item">
					<%= image_tag("error.png", class: "error-png") %>
    			<%= flash[:notice] %>
				</div>
			<% end %>
			<%= form_tag(sessions_path, method: "post") do %>
				<div class="user-item">
					<div class="image-con">
						<%= image_tag("username.png", class: "image-con-png") %>
						<%= text_field_tag :email, nil, class: "email-text" %>
					</div>
				</div>

				<div class="user-item">
					<div class="image-con">
						<%= image_tag("password.png", class: "image-con-png") %>
						<%= text_field_tag :password, nil, class: "email-text" %>
					</div>
					<%= submit_tag "登录", class: "user-btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>


