<div class="shopping-succ">
  <div class="success-lcol">
    <div>
      <%= image_tag "success",class: "sucess-con" %>
      <span class="add-success">商品已成功加入购物车！</span>
    </div>
    
    <%= image_tag @product.main_product_image.image.url(:thumb), class: "shopimage-con" %>
    <span class="shop-title"><%= link_to @product.title, product_path(@product) %></span>
    <span class="shop-amout">数量:&nbsp;&nbsp;&nbsp;<%= @shopping_cart.amount %></span>
  </div>

  <div class="shopbtn-con">
    <div class="shop-des"><%= link_to "查看商品详情", product_path(@product) %></div>
    <div class="shop-cart">去购物车结算</div>
  </div>
</div>
