<div class="user-wrap" style="height:660px;">
	<div class="user-con" style="weight:400px;height:580px;">
		<div class="user-title">新用户注册</div>

		<% if @user.errors %>
			
				<div class="err-item">
					<%= image_tag("error.png", class: "error-png") %>
	    		<%= @user.errors.full_messages.flatten.first %>
				</div>
			
		<% end %>

		<%= form_for :user, url: users_path do |f| %>
			<div class="user-item">
				<div class="image-con">
					<%= image_tag("username.png", class: "image-con-png") %>
				</div>
				<%= f.text_field :username, class: "input-text", placeholder: "输入用户名" %>
			</div>

			<div class="user-item">
				<div class="image-con">
					<%= image_tag("password.png", class: "image-con-png") %>
				</div>
				<%= f.password_field :password, class: "input-text", placeholder: "输入密码" %>
			</div>

			<div class="user-item">
				<div class="image-con">
					<%= image_tag("password.png", class: "image-con-png") %>
				</div>
				<%= f.password_field :password_confirmation, class: "input-text", placeholder: "再次输入密码" %>
			</div>

			<div class="user-item">
				<div class="image-con">
					<%= image_tag("phone.png", class: "image-con-png") %>
				</div>
				<%= f.text_field :phone_num, class: "input-text", placeholder: "输入电话" %>
			</div>

			<div class="user-item">
				<div class="image-con">
					<%= image_tag("email.png", class: "image-con-png") %>
				</div>
				<%= f.text_field :email, class: "input-text", placeholder: "输入邮箱" %>
			</div>

			<div class="user-item">
				<div class="image-con">
					<%= image_tag("question.png", class: "image-con-png") %>
				</div>
				<%= f.text_field :question, class: "input-text", placeholder: "输入密码提示问题" %>
			</div>

			<div class="user-item">
				<div class="image-con">
					<%= image_tag("key.png", class: "image-con-png") %>
				</div>
				<%= f.text_field :answer, class: "input-text", placeholder: "输入密码提示答案" %>
			</div>
			<%= f.submit "登录", class: "user-btn" %>
		<% end %>
	</div>
</div>