<div class="my-title-tt">我的信息</div>
<span class='personal-center'>用户名：<%=  current_user.username %></span>
<span class='personal-center'>电话：<%=  current_user.phone_num %></span>
<span class='personal-center'>邮箱：<%=  current_user.email %></span>
<span class='personal-center'>问题：<%=  current_user.question %></span>
<span class='personal-center'>答案：<%=  current_user.answer %></span>
<a href="/editor-personal-center.html"	class='center-editor'>编辑</a>
