<%= render partial: "search" %>

<div class="cate-left">
	<ul>
		<% @categories.each do |group| %>
			<li class="list-item">
				<% group.each do |sub_category| %>
					<a class="category_title" href="<%= category_path(sub_category) %>"><%= sub_category.title %></a>
				<% end %>
			</li>
		<% end %>
	</ul>


	<div class="move-image-con">
		<div id="container">
		  <div id="list" style="left: -850px;">
		    <img src="/assets/5.jpg" alt="1" class='common-image'/>
		    <img src="/assets/baiqian.png" alt="1" class='common-image'/>
		    <img src="/assets/xiansan.png" alt="2" class='common-image'/>
		    <img src="/assets/xianyi.png" alt="3" class='common-image'/>
		    <img src="/assets/4.jpg" alt="4" class='common-image'/>
		    <img src="/assets/5.jpg" alt="5" class='common-image'/>
		    <img src="/assets/baiqian.png" alt="5" class='common-image'/>
		  </div>

		  <div id="buttons">
		    <span index="1" class="on"></span>
		    <span index="2"></span>
		    <span index="3"></span>
		    <span index="4"></span>
		    <span index="5"></span>
		  </div>
		  
		  <a href="javascript:;" id="prev" class="arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		  <a href="javascript:;" id="next" class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		</div>
	</div>
    
</div>

<div class="diff-category-con">
   <% @category.each do |category| %>
    <div class="diff-category">
        <span class="category-ft"><%= category.title %></span>
        <div class="category-ft-image">
            <% category.children.ids.each do |cate_id|%>
                <% Product.where('category_id = ?', cate_id).each do |product|%>
                    <div class="image-con-ftt">
                        <%= link_to (image_tag product.main_product_image.image.url(:middle),class: "image-con-ft"), product_path(product) %>
                    </div>
                <% end %>
            <% end %>
       </div>
    </div>
   <% end %>      
</div>



	