<div class='order-new'>
  <div class="order-header">
    <div class="header-left">
      <%= link_to (image_tag "dog.png"), root_path %>
      <%= image_tag 'jiesuan.png' %>
    </div>
    <div class="header-right">
      <%= image_tag 'orderone.png' %>
    </div>
    <span class="tt-ortext">填写并核对订单信息</span>
  </div>

  <div class="order-content-w">
    <div class="order-content-con">
      <span class="shouhuo">收货人信息</span>
      <a class="xinzeng-add" href="javascript:showAddress();">新增收货地址</a>
      <div class="scoll">
      <% @addresses.each do |address|%>
        <div class="con-show-hide" style="<%= 'display:none' if address.selected_value == 0 %>">
          <div class="save-address">
            <% if address.selected_value == 1 %>
              <div class="address-area-ss address-area-common">
                <%= address.area.gsub('/',"") %>
                <b></b>
              </div>
            <% else %>
              <div class="address-area address-area-common">
                <%= address.area.gsub('/',"") %>
              </div>
            <% end %>
            <div class="address-right">
              <span class="address-pho">
                <%= address.area.gsub('/'," ") %>&nbsp;
                <%=address.address%>&nbsp;&nbsp;&nbsp;
                <%=address.cellphone%>
              </span>

              <span class="add-weizhi">
                <span class="set-address">
                  <%= address.address_value == 1? "<span class='add-one' disabled='disabled'>默认地址</span>".html_safe : "<span class='add-two'>设为默认地址</span>".html_safe %>
                </span>
                <input type="hidden" value="<%= address.id %>"/>
                <a href="javascript:editAddress(<%= address.id %>)" class="edit-class">编辑</a>
                <% if address.address_value == 0 %>
                  <%= link_to "删除", address_path(address), method: :delete, class: "edit-class" %>
                <% end %>
              </span>
            </div>
          </div>
        </div>  
      <% end %>
      </div>
      <div class="addr-switch switch-on">
        <span>更多地址</span>
        <%= image_tag 'bottom.png' %>
      </div>
      <div class="addr-switch switch-off" style="display:none;">
        <span>收起地址</span>
        <%= image_tag 'top.png' %>
      </div>
    </div>  
  </div>
</div>






