<div class='order-new'>
  <div class="order-header">
    <div class="header-left">
      <%= link_to (image_tag "dog.png"), root_path %>
      <%= image_tag 'jiesuan.png' %>
    </div>
    <div class="header-right">
      <%= image_tag 'orderone.png' %>
    </div>
    <span class="tt-ortext">填写并核对订单信息</span>
  </div>

  <div class="order-content-w">
    <div class="order-content-con">
      <span class="shouhuo">收货人信息</span>
      <a class="xinzeng-add" href="javascript:showAddress();">新增收货地址</a>
      <% @addresses.each do |address|%>
        <div class="save-address">
          <% if address.selected_value == 1 %>
            <div class="address-area-ss address-area-common">
              <%= address.area.gsub('/',"") %>
              <b></b>
            </div>
          <% else %>
            <div class="address-area address-area-common">
              <%= address.area.gsub('/',"") %>
            </div>
          <% end %>
          <span class="address-pho">
            <%= address.area.gsub('/'," ") %>&nbsp;
            <%=address.address%>&nbsp;&nbsp;&nbsp;
            <%=address.cellphone%>
          </span>

          <span class="add-weizhi">
            <span class="set-address">
              <span><%= address.address_value == 1? "默认地址" : "设为默认地址" %></span>
            </span>
            <input type="hidden" value="<%= address.id %>"/>
            <a href="javascript:editAddress(<%= address.id %>)">编辑</a>
            <%= link_to "删除", address_path(address), method: :delete %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>






