<div class="pull-right">
  <%= link_to "新建收货地址", new_address_path, class: "btn btn-info new-address-btn", onclick: "chuli(this)", remote: true %>
</div>
<div class="clearfix"></div>
<br />
<ul class="list-group">
  <% unless @addresses.blank? %>
    <% @addresses.each_with_index do |address, index| %>
      <li class="list-group-item">
        <label>
          <input type="radio" name="address_id" value="<%= address.id %>" <%= 'checked' if current_user.default_address == address %> />
          <%= address.contact_name %>
          <%= address.address %>
          <%= address.cellphone %>

          <%= link_to "编辑", edit_address_path(address), remote: true, class: "inline edit-address-btn" %>
          <%= link_to "删除", address_path(address), remote: true, method: 'delete', "data-confirm": "确认删除该地址吗？", class: "remove-address-btn inline" %>
          <% if current_user.default_address == address %>
            <span class="default_address">默认地址</span>
          <% else %>
            <%= link_to "设为默认收货地址", set_default_address_address_path(address), remote: true, method: 'put', class: "set-default-address-btn inline" %>
          <% end %>
        </label>
      </li>
    <% end %>
  <% else %>
    <li class="list-group-item">
      请添加送货地址
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  function chuli (obj) {
    var xmlhttprequest;
    if (window.XMLHttpRequest){
      xmlhttprequest = new XMLHttpRequest();
    }else{
      xmlhttprequest = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttprequest.open('GET', '/addresses/new', true);
    xmlhttprequest.onreadystatechange = function () {
      if (xmlhttprequest.readyState == 4 && xmlhttprequest.status == 200){
        // window.alert(typeof xmlhttprequest.responseText);
        document.body.innerHTML += xmlhttprequest.responseText;
        a = document.getElementById("address_form_modal");
        // window.alert(a);
        // window.alert($(a).get(0));
        $(a).modal();
      }
    }
    xmlhttprequest.send();
    return false;
  }
</script>