<div>
  <h1><%= @category.new_record? ? "新建分类" : "修改分类 ##{params[:id]}" %></h1>
</div>

<div class="form-body">
  <%= form_for @category, 
  url: (@category.new_record? ? admin_categories_path : admin_category_path(@category)), 
  method: (@category.new_record? ? :post : :put),  
  html: { class: 'form-horizontal' } do |f| %>

    <% unless @category.errors.blank? %>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <% @category.errors.messages.values.flatten.each do |error| %>
            <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
          <% end -%>
        </ul>
      </div>
    <% end -%>

    <div class="form-group">
      <label for="ancestry" class="col-sm-2 control-label">所属分类:</label>
      <div class="col-sm-8">
        <%= select_tag "category[ancestry]", options_from_collection_for_select(@root_categories, "id", "title", get_category_id(@root_categories, @category)), include_blank: true %>
        为空为一级分类
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">名称:*</label>
      <div class="col-sm-5">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label for="weight" class="col-sm-2 control-label">权重:</label>
      <div class="col-sm-5">
        <%= f.text_field :weight, class: "form-control" %> 数值越大越靠前
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit (@category.new_record? ? "新建分类" : "修改分类"), class: "btn btn-default" %>
      </div>
    </div>

  <% end -%>
</div>

<select name="charge_code[wap_payment_config_id]" id="charge_code_wap_payment_config_id">
  <option value="1">喜瑞达-视频-包月-上海微马-劲爆娱乐5-6元</option>
</select>


<select name="charge_code[ivr_config_id]" id="charge_code_ivr_config_id">
  <option value="1">IVR真码测试-12590502570-安徽、福建、广东、海南、湖北、江苏、辽宁、内蒙古、山西、西藏-20170302
  </option>
</select>

<select name="bao" id="bao">
  <option value="1">bao
  </option>
</select>
<% content_for :javascripts do %>
  <script type="text/javascript">
    // $(document).ready(function() {
    //   $("#category_ancestry").select2({
    //     theme: "bootstrap"
    //   }); 
    // });

    window.alert($("#charge_code_ivr_config_id").html());
  </script>
<% end %>

