<div class="row">
	<div class="col-lg-3">
			<ul class="list-group">
				<% @categories.each do |group| %>
					<li class="list-group-item "><%= group.first.title%></li>
					<% group.last.each do |sub_category| %>
						<li class="list-group-item"><a href="<%= category_path(sub_category) %>"><%= sub_category.title %></li>
					<% end %>
				<% end %>
			</ul>
	</div>

  <div class="col-lg-9">
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>
    <div class="row">
	    <div class="col-sm-6 col-md-4">
	    	<h1><strong><%= @product.title %></strong></h1>
	      <div class="thumbnail">
	        <%= link_to image_tag(@product.main_product_image.image.url(:small)) %>
	        <ul class="list-unstyled">
	        	<li>商品编号: <%= @product.uuid %></li>
	        	<li>库存: <%= @product.amount %></li>
	        </ul>
	        <div class="caption">
	          <p>
	          	<strong>¥<%= @product.price %></strong> 
	          	<span class="msrp">¥<%= @product.msrp %></span>
	          </p>
	          <p>
	          	数量：<input type="text" name="amount" class="from-control" value="1" >
	        	</p>
	          <p><%= show_add_to_cart @product, html_class: "btn-xs" %></p>
	        </div>
	      </div>
	    </div>
	</div>
  </div>
</div>
	