<%= render partial: 'welcome/search'%>

<div class="product-div">
	<%= render partial: "categories/productlist" %>
	<div class="bigimage-con">
		<%= image_tag @main_product_image.image.url(:middle), class: "main-image" %>	
	</div>


	<div class="smallimage-con">
		<% @product_images.each do |product_image| %>
			<%= image_tag product_image.image.url(:thumb), class: "small-image" %>	
		<% end %>
	</div>

	<div class="product-con">
		<span class="product-title"><%= @product.title %></span>
		<span class="product-description"><%= @product.description %></span>
		<div class="product-price">
			<span class="price">价格:</span>
			<input type="hidden" class="product-id" value="<%= @product.id %>"/> 
			<span class="price-size"><i class="fa fa-jpy fa-lg" aria-hidden="true"><%= @product.price %></i></span>
		</div>
		<span class="stock">库存:<span class="amount-con"><%= @product.amount%></span></span>

		<div class="qua-con">
			<span class="qua">数量:</span>
			<input type="text" name="amount" class="input-con amount" value="1" readonly="readonly"/>
			<div class="count-btn-con">
				<span class="p-count-btn add-btn">+</span>
				<span class="p-count-btn reduce-btn">-</span>
			</div>
		</div>

		<div class="cart-con">
			<span class="cart-add">加入购物车</span>
		</div>
	</div>	

	<div class="shopping-con">
		<span class="shopping-title">商品详情</span>
	</div>

	<div class="bigcontent-con">
		<%= @product.content.html_safe %>
	</div>
</div>

