<!DOCTYPE html>
<html>
  <head>
    <title>MMall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %> 

    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/mall' %>
    <%= yield %>
    <%= yield :javascripts %>
  </body>
</html>
